.headerGrid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-items: start;
}
/*________________________________________________________*/

/* Mostrar el menú desplegable al pasar el ratón por encima */
nav li:hover .menu-desplegable {
    display: block;
}

/* Asegurarse de que el menú aparezca debajo del botón */
