/* -- CODIGO PARA QUE LA PAGINA WEB SEA RESPONSIVE -- */

/* ".hg2" es el titulo principal, asi que se ajustan un poco el padding y el tamaño de la fuente */
/* "nav ul li" es los botones de la barra de navegacion, se ajustan para ser mas pequeños y tener menos margen y padding */
/* "nav ul li a" es el texto dentro de los botones, solo se ajusta el tamaño de la fuente */

.smalltitle{display: none;}
  /* Esconde la version pequeña del texto (RFEBM) 
  que sera mostrado cuando la pantalla sea menor que 973px,
  ese codigo esta en la parte del RESPONSIVE */

  @media only screen and (max-width: 1272px) { /* Cuando La pantalla es de 0px a 972px */
    .imagen{display: none;}
  #ajuste{display: grid;
  justify-content: center;}
}

  @media only screen and (max-width: 972px) { /* Cuando La pantalla es de 0px a 972px */
   
      .headerposicion{
          padding-bottom: 1em;
      }
      .smalltitle{display: grid;} /* Muestra La version pequeña del texto (RFEBM)*/
      .bigtitle{display: none;} /*Esconde la version grande del texto (REAL FEDERACION ESPAÑOLA DE BALONMANO)*/


      .mainText {
        font-size: 0.9em;
       }
  }
  .calendar{
    font-size: medium;
    grid-template-columns: 15% 20% 10% 30% 10% 5% 5%
  }
  .mainText form{
    max-width: 600px;
  }
  .mainText iframe{
    max-width: 600px;
  }
  @media only screen and (max-width: 800px) { /* Cuando La pantalla es de 0px a 972px */
/*Header y footer */


    /* Inicioooooooo */
    .mainMatches div {
     font-size: medium;
     }
     .mainMatches h2 {
      font-size: medium;
     }
     .mainNews h2 {
       font-size: medium;
      }
      .footerinf {
        font-size: medium;
        }
      .mainSponsors h2 {
       font-size: smaller;
      }
      .mainText {
        font-size: 0.8em;
       }
       footer div {
        font-size: medium;
       }
       nav ul li {
        font-size: small;
      }
      .tabla table{
        font-size: small;
      }
      .boton-temporada{
        font-size:small;
        margin-bottom: 0.5em;
      }
      .selector-temporada{
        flex-direction:column
      }
      .temporada-seleccionada{
        font-size: small;
      }
      #cuerpoClasificacion{
        border: 1px solid white ;
      }
      /*CALENDARIO*/
      .calendar{
        font-size: small;
        grid-template-columns: 15% 20% 10% 30% 10% 5%
      }
      .calendarHourText{
        display: none;
      }
          /*Equipos*/
    .jugador p{
      font-size: small;
    }
    .descripcionEquipos{
      font-size: small ;
    }
    .titleDefault{
      font-size: x-large;
    }
    .mainText form{
      max-width: 400px;
    }
    .mainText iframe{
      max-width: 400px;
    }
    .redesText{
      font-size:smaller
    }
}
  @media only screen and (max-width: 420px) { /* Cuando La pantalla es de 0px a 972px */
   
    .mainMatches h2 {
     font-size: xx-small;
    }
    .mainNews h2 {
      font-size: small;
     }
     .mainSponsors h2 {
      font-size: xx-small;
     }
    .mainMatches div {
     font-size: smaller;
     }
     .footerinf {
      font-size: smaller;
      }
     .mainText {
      font-size: 0.7em;
     }
     footer div {
      font-size: smaller;
     }
     nav ul li {
      font-size: xx-small;
    }

    /*CLASIFICACION */
    .tabla table{
      font-size: xx-small;
    }
    .boton-temporada{
      font-size:xx-small;
      margin-bottom: 0.5em;
    }
    .selector-temporada{
      flex-direction:column
    }
    .temporada-seleccionada{
      font-size: xx-small;
    }
    #cuerpoClasificacion{
      border: 1px solid white ;
    }

    /*CALENDARIO*/
    .calendar{
      font-size: xx-small;
      grid-template-columns: 15% 20% 10% 30% 10% 5%
    }

    /*Equipos*/
    .jugador p{
      font-size: smaller;
    }
    .descripcionEquipos{
      font-size: xx-small ;
    }

    /*NOTICIAS*/

    .titleDefault{
      font-size: medium;
    }
    /*CONTACTO*/
    .info{
      font-size: small;
    }
    .mainText form{
      max-width: 300px;
    }
    .mainText iframe{
      max-width: 300px;
    }
    .redesText{
      font-size:small
    }
}
