/* -- CODIGO PARA QUE LA PAGINA WEB SEA RESPONSIVE -- */

/* ".hg2" es el tiulo principal, asi que se ajustan un poco el padding y el tamaño de la fuente */
/* "nav ul li" es los botones de la barra de navegacion, se ajustan para ser mas pequeños y tener menos margen y padding */
/* "nav ul li a" es el texto dentro de los botones, solo se ajusta el tamaño de la fuente */

.smalltitle{display: none;}
  /* Esconde la version pequeña del texto (RFEBM) 
  que sera mostrado cuando la pantalla sea menor que 973px,
  ese codigo esta en la parte del RESPONSIVE */

@media only screen and (min-width: 2160px) { /* Cuando La pantalla es de 2160px a ∞ */
    .hg2{font-size: 5em;}
    .hg1 img {width: 20em;}
    .mainText{font-size: 2.5em;}
    nav ul li {font-size: 2.5em;}
    .mainNews h2 {font-size: 3em;}
}
@media only screen and (min-width: 2160px) and (max-width: 2600px) { /* Cuando La pantalla es de 2160px a 2600px */
    .hg2{font-size: 3em;}
    nav ul li {font-size: 1.5em;}
    :root{font-size: 1.25em;}
    .hg1 img {width: 80%;}
} 
@media only screen and (min-width: 1367px) and (max-width: 2159px) { /* Cuando La pantalla es de 1367px a 2159px */
    .hg2{font-size: 2.25em;}
    :root{font-size: 1.15em;}
} 
@media only screen and (min-width: 973px) and (max-width: 1366px) {  /* Cuando La pantalla es de 973px a 1366px */
    .hg2{font-size: 30px;}
    nav ul li a {font-size:17px;}
    :root{font-size: 1.0em;}
}
@media only screen and (max-width: 972px) { /* Cuando La pantalla es de 0px a 972px */
    .hg2{font-size: 40px; text-align: center; float: center;}
    .smalltitle{display: grid;} /* Muestra La version pequeña del texto (RFEBM)*/
    .bigtitle{display: none;} /*Esconde la version grande del texto (REAL FEDERACION ESPAÑOLA DE BALONMANO)*/
    nav ul li a {font-size:12px;}
    :root{font-size: 0.9em;}
}